-# title: Meu Ambiente de Desenvolvimento em 7 passos
-# published: 2010-12-31
-# resume: Uma pequena apresentação do Sinatra, a idéia é mostrar como funciona o Sinatra em sua forma mais simples.

%p
  Iniciou-se um pesquisa sobre o Ambiente de desenvolvimento dos desenvolvedores, onde um desenvolvedor escreve sobre seus ambiente de desenvolvimento e convida de 3 a 5 amigos para fazer o mesmo, foi convidado pelo #{link_to("@rinaldifonseca","http://twitter.com/rinaldifonseca")} que falou sobre #{link_to("seu ambiente neste link","http://rinaldifonseca.com/meu-ambiente-de-desenvolvimento-em-7-items/")}

%h2 Sistema Operacional
%p Hoje estou usando um Macbook White de dezembro de 2009, faço a maioria das coisas nele. Na #{link_to("Gonow", "http://gonow.com.br")} tenho uma maquina com Ubuntu 10.x, que normalmente uso para abrir uma VM do Windows para testar algo no IE :/. Antes de comprar o Macbook usei por 2 anos o Ubuntu, gosto bastante dele, mais, em um ano usando Mac estou acustumado com as teclas e os atalhos, o que me deixa bem lento no Ubuntu.

%h2 Editor
%p Minha historia com editor vai do Frontpage ao Vim, no Ubuntu usava o gedit com plugin gmate, assim que começei a usar Mac fui logo utilizar o Textmate, que achei muito bom, porém ao ver o #{link_to("@elcio","http://elcio.com.br/")} usando o vim em um treinamento na w3c, fiquei impressionado desde então venho utilizando-o e sempre que tento usar outro editor não da muito certo.

%h2 Terminal
%p Uso o bash, já tentei usar o zsh mais por algum motivo ele não me agradou. Uso o iTerm pela navegação entre abas.

%h2 Browser
%p Uso o Safari, até gosto do firebug mais o Web Inspector, o firebug nativo para navegadores WebKit, me satisfaz muito bem.

%h2 Softwares
%ul
  %li Itunes
  %li iTerm
  %li MacVim
  %li YoruFukurou
  %li Reeder, comecei a usar a pouco tempo e estou curtindo.

%h2 Controle de Versão
%p Git, já foi preciso usar svn em um projeto e usei o git-svn que se saiu muito bem.

%h2 Música
%p Curto muito generos ligados ao movimento Punk e ao Oi!, altualmente estou escutando muito #{link_to("echoed", "http://casterseven.com/")} e The Magic Numbers, as duas totalmente fora do meu gosto musical.

%p Agora convido #{link_to("@renatocn","http://twitter.com/renatocn")} e #{link_to("@vquaiato", "http://twitter.com/vquaiato")}




